@font-face {
  font-family: 'Octarine Light';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Octarine-Light.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Octarine Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Octarine-LightOblique.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Octarine Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Octarine-Bold.otf') format('opentype');
  }
  
  
  @font-face {
  font-family: 'Octarine Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Octarine-BoldOblique.otf') format('opentype');
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Octarine Bold', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
