/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styling */
html {
  font-family: 'Octarine', sans-serif;
  font-size: 16px;
  color: #456473;
}

/* Header and Nav Bar */

header {
  background:
    linear-gradient(rgba(12, 5, 57, 0.50),
      rgba(12, 5, 57, 0.50)),
    url("./Resources/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20%;
  box-shadow: 0px 5px 8px rgba(12, 5, 57, 1);
  ;
}

.header{
  height:100%;
}

.logo {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo img {
  padding-top: 3rem;
  width: 33%;
}

.nav {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav span {
  display: none;
}

ul {
  display: flex;
  align-items: center;
}

#navbar input {
  opacity: 0;
  position: absolute;
}

#home {
  display: none;
}

ul a {
  color: #efeeee;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 20px;
}

ul a:hover {
  cursor: pointer;
  font-size: 3rem;
  font-weight: bolder;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(12, 5, 57, 0.8);
  display: flex;
}

#stickyimg {
  display: none;
  width: 75%;
  height: auto;
  align-items: center;
}

#stickyimg img {
  height: auto;
  width: 40%;
  margin-left: 10%;
}

.sticky+.main {
  padding-top: 30px;
}

.sticky+#navbar img {
  height: 10%;
  width: auto;
}

.mobile {
  width: 100%;
  display: none
}

.mobilenav {
  display: none
}

.mobile button {
  position: absolute;
  margin-top: -7%;
  margin-left: 90%;
  margin-right: 5%;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0) url(Resources/pngkey.com-mobile-menu-icon-png-3321462.png) center no-repeat;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: 0;
  transition: all .4s ease
}

.mobile .expanded {
  transform: rotate(90deg);
  background-color: transparent;
  border: 0
}

.mobilenav a {
  display: block;
  background: rgba(12, 5, 57, 0.8);
  text-align: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700
}

.mobilenav a:hover {
  cursor: pointer;
  transition: font-size 750ms ease-in-out, font-weight 750ms ease-in-out, color 750ms ease-in-out;
  font-weight: bolder;
  color: #f23d4a;
  font-size: larger
}

@media screen and (max-width: 1025px) {
  .logo img{
    padding-top: 2rem;
    width: 45%;
  }
}

@media screen and (max-width: 785px) {
  .nav {
    justify-content: center;
  }
  nav {
    width: 100%;
    justify-content: center;
  }
  ul a{
    font-size: 2.25vw;
    display: flex;
    justify-content: space-between;
  }
  header {
    height: 150px;
  }
  .logo img{
    width: 75%;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 768px){
  .nav{
    display: none;
  }
  .mobile{
    display: block;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: 0;
    padding: 0;
    height: 100px;
  }

}

@media screen and (max-width:420px) {
  .mobile button {
    margin-top: -9%
  }

}

@media screen and (max-width:324px) {
  .mobile button {
    margin-top: -10%;
    margin-left: 86%
  }
}

@media screen and (max-width:250px) {
  .mobile button {
    margin-top: -11%
  }
}

/* Mission Statement */

.mission h1 {
  font-size: 2.25rem;
  text-align: center;
  width: 45%;
  margin: 7% auto;
  line-height: 2;
}

.mission h1 strong {
  color: #f23d4a;
  font-weight: bolder;
}

@media screen and (max-width: 999px) {
  .mission h1{
    width: 75%;
    font-size: 5vw;
  }

}

/* Services */

.services {
  background-color: #efeeee;
  display: block;
  margin: 7% auto;
}

.services h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 3rem;
}

.services h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #efeeee;
  border-radius: 20px;
  padding: 2rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.servicesheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
}

.classes,
.coach,
.consulting {
  width: 30%;
}

.classes h2 {
  background-color: #7399ab;
}

.coach h2 {
  background-color: #456473;
}

.consulting h2 {
  background-color: #324853;
}

.classes h2:hover,
.coach h2:hover,
.consulting h2:hover {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
}

#class-arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 1.25rem solid #7399ab;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
}

#coach-arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 1.25rem solid #456473;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
}

#consult-arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 1.25rem solid #324853;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
}

.description {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.description p {
  font-size: 2rem;
  padding: 2rem;
  width: 75%;
  margin-left: 0;
}

#classes,
#coach,
#consulting {
  display: inline-flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  height: 12.5vw;
}

.description a {
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem;
  text-align: center;
}

.description a:hover {
  cursor: pointer;
  font-size: 3rem;
  font-weight: bolder;
}

#classes,
#class-arrow-down,
#classimg,
#consulting,
#consult-arrow-down,
#consultimg,
#coach,
#coach-arrow-down,
#coachimg {
  display: none;
}

@media screen and (max-width: 770px) {
  .services h1{
    padding: 1.5rem;
    font-size: 6vw;
  }
  .services h2{
    padding: 1rem;
    font-size: 4vw;
  }
  .classes h2:hover, .coach h2:hover, .consulting h2:hover{
    font-size: 4.25vw;
  }

  .description p, .description a{
    font-size: 3vw;
    padding: 1rem;
    width: auto;
  }

  .description a:hover {
    font-size: 3.5vw;
    font-weight: bolder;
  }
  .offer{
    margin: auto 2vw;
  }
}

@media screen and (max-width: 600px) {
  #classimg, #coachimg, #consultimg{
    opacity: 0;
    position: absolute;
  }
  .description{
    justify-content: center;
    align-items: center;
  }
  .description p, .description a{
    width: 100%;
    font-size: 4vw;
    text-align: center;
  }

  .description a:hover {
    font-size: 4.5vw;
    font-weight: bolder;
  }

}

/*About*/

.about {    
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  margin: 7% auto;
  margin: auto;
}

.aboutcontent {
  background-color: #e6edf0;
  padding-left: 25px;
  padding-right: 25px;
  border-top: 5px solid #456473;
  border-bottom: 5px solid #456473;
  text-align: center;
  line-height: 1.75rem;
}

.toprow {
  width: 95%;
  height: auto;
  margin: auto;
}

.toprow p {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 1.5vw;
  height: auto;
}

.headshot img {
  border: 5px solid #c2d3da;
  border-radius: 100%;
  height: auto;
  width: 25%;
  min-width: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin: 2rem;
}

.center strong {
  color: #f23d4a;
  font-weight: bolder;
}

table {
  height: 25%;
  font-size: 1.5rem;
  font-weight: lighter;
  width: auto;
  height: auto;
  margin: auto;
}

td {
  padding: 4px;
  margin: auto 0;
}

.type {
  text-indent: 10px;
}

.hex {
  height: 5%;
  width: auto;
}

.center{
  text-align: center;
}

.bottomrow {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
}


.icons {
  display: inline-flex;
  border: 5px solid #C4D5DB;
  border-radius: 20px;
  padding: 24px;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-evenly;
  height: auto;
}

.icons img {
  width: 10%;
  height: auto;
  min-width: 85px;
  min-height: 86px;
  margin: 1rem;
}

.cpd,
.cad,
.cas {
  border-radius: 100%;
}

.aboutmobile {
  display: none;
}

@media screen and (max-width: 910px) {
  .toprow {
    height: auto;
  }
  .icons img{
    padding: 1rem;
    width: 85px;
    height: 86px;
  }

}


@media screen and (max-width: 770px) {
  .about h1{
    font-size: 6vw;
  }
  .about p{
    font-size: 3vw;
  }
  table{
    font-size: 2.75vw;
  }
}

@media screen and (max-width: 585px) {
  .headshot img{
    float: none;
    margin: 1rem auto;
    min-width: 175px;
  }
.bottomrow{
  display: none;
}
.center{
  padding: 1rem;
  text-align: left;
}
.about p{
  font-size: 4vw;
  text-align: center;
}
table{
  font-size: 3.75vw;
}
}

/*Contact us */

.contact {
  background:
    linear-gradient(rgba(255, 255, 255, 0.50),
      rgba(255, 255, 255, 0.50)),
    url("./Resources/117225.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  margin: 7% auto;
}

.contact h1 {
  margin-top: 64px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 4rem;
}

.contact h1 strong {
  color: #f23d4a;
  font-weight: bolder;
}

.contact h4 {
  margin-top: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 1.75rem;
  font-weight: lighter;
}

.container, .container2{
  background-color: #456473;
  color: #c4d5db;
  width: 75%;
  margin: 2rem auto;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  border-radius: 20px;
}

.container2{
  display:none;
  text-align: center;
}

.row1, .row2{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.row2{
  width: 100%
}

.checkbox{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.btn{
  padding: .25rem;
}

.checkbox label{
  text-align: center;
}

.notes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.first, .last, .email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.row1 input[type="text"], .row2 input[type="checkbox"], .row2 textarea{
  border-radius: 20px;
  background-color: #c4d5db;
  padding: .5rem;
}

.row1 input[type="text"]{
  width: 90%;
}

.btn input[type="checkbox"]{
  border-radius: 100%;
}

#other{
  height: 90%;
  width: 90%;
  max-height: 275px;
}

.row3{
  display: flex;
  justify-content: center;
}

button[type="submit"]{
  background-color: #c4d5db;
  color: #456573;
  font-family: 'Octarine', sans-serif;
  font-weight: bold;
  padding: .5rem 1rem;
  font-size: 1.125rem;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .contact {
    background-size: auto 100%;
  }
  .contact h1{
    font-size: 6vw
  }
  .contact h4{
    font-size: 3vw
  }
}

@media screen and (max-width: 640px){
  .container, .container2{
    width: 90%;
    border-radius: 0;
  }

  .container2{
    display:none;
  }
  .row1{
    justify-content: center;
    align-items: center;
  }
  .first, .last, .email{
    width: 45%;
    padding: .5rem
  }
}

@media screen and (max-width: 550px) {
  .contact {
    background-image: none;
    background-color: white;
  }

  .contact h1 {
    margin-top: 32px;
    padding-top: 32px;
  }
  .contact h4{
    width: 70%;
    font-size: 4vw;
    margin-top: 3vw;
  }


}

@media screen and (max-width: 425px){
  .row1, .row2{
    padding: 0;
  }
  .row2{
    margin: 0;  
  }
  .checkbox, .notes{
    width: 100%;
    margin: auto;
    padding-top: 1vh;
  }
  .notes{
    margin: 1vh auto;
  }
  .checkbox label{
    text-align: left;
    padding-left: 15vw;
  }
  .btn{
    padding-left: 20vw;
    width: 75%
  }
  #other{
    height: 30vh;
  }
  .first, .last, .email{
    width: 95%;
    padding: .5rem
  }
}

@media screen and (max-width: 320px){
  .checkbox label{
    text-align: center;
    padding: 0;
  }
}


/* Footer */

footer {
  background:
    linear-gradient(rgba(12, 5, 57, 0.50),
      rgba(12, 5, 57, 0.50)),
    url("./Resources/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  box-shadow: 0px 5px 8px rgba(12, 5, 57, 1);
  ;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  font-size: 1.125vw;
  color: #efeeee;
  font-weight: bold;
  width: 100%;
  padding: 16px;
  margin-left: 32px;
  margin-right: 32px;
}

.terms {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  width: 25%;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  footer {
    height: 50px;
  }
  
  .terms {
    display: none;
  }

  .copy {
    justify-content: center;
    margin: 0 auto;
    font-size: 3vw;
  }
}
